{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "standard-with-typescript"
  ],
  "ignorePatterns": [
    "src/reportWebVitals.ts",
    "src/setupTests.ts",
    "**/*.d.ts"
  ],
  "overrides": [],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["tsconfig.json"]
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "@typescript-eslint/no-empty-interface": "off",
    // https://github.com/react-hook-form/react-hook-form/discussions/8622
    "@typescript-eslint/no-misused-promises": [2, {
      "checksVoidReturn": {
        "attributes": false
      }
    }],
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/strict-boolean-expressions": "off",
    "react/react-in-jsx-scope": "off",
    "no-alert": "warn",
    "no-console": "warn",
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": "*", "next": ["block-like", "multiline-expression"] },
      { "blankLine": "always", "prev": ["block-like", "multiline-expression"], "next": "*" },
      { "blankLine": "always", "prev": "*", "next": ["const", "let", "var"] },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] }
    ],
    "prefer-const": "warn"
  }
}
